<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DataMerge</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
  </head>
  <body>
    <header class="topo">
      <div class="container">
        <h1>DataMerge</h1>
        <button id="btnTrocaDeTema" class="btn">Alterar tema 🌓</button>
      </div>
    </header>
    <main class="container">
      <div id="alertaErro" class="alerta alerta-erro">
        <strong>Erro</strong>
        <span id="mensagemErro"></span>
      </div>
      <section class="caixa">
        <form method="post" id="formulario">
          <label for="arquivo1">Arquivo Principal</label>
          <div class="arquivo-container">
            <input
              type="file"
              name="arquivo1"
              id="arquivo1"
              class="arquivo"
              accept=".csv, .xlsx, .xls"
            />
            <button type="button" class="btn-remover" id="removerArquivo1">
              ×
            </button>
          </div>

          <label for="arquivo2">Arquivo Secundário</label>
          <div class="arquivo-container">
            <input
              type="file"
              name="arquivo2"
              id="arquivo2"
              class="arquivo"
              accept=".csv, .xlsx, .xls"
            />
            <button type="button" class="btn-remover" id="removerArquivo2">
              ×
            </button>
          </div>

          <button type="submit" class="btn" id="btnPrimario">Baixar</button>
        </form>
      </section>
    </main>
    <footer class="rodape">
      <small>&copy; Gabryel Modesto - 08/2026</small>
    </footer>
  </body>
</html>
